* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: rgb(26, 26, 26);
    font-family: Lato, sans-serif;
    font-size: 14px;
    overflow-x: hidden;
}

.section-up {
    display: flex;
    height: auto;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    width: auto;
}

.x-kom-logo-img,
.x-kom-logo-small-img {
    display: flex;
    display: inline-block;
    height: auto;
    max-height: 40px;
    max-width: auto;
    position: relative;
    padding-left: 20px;
    width: auto;
}

.search-bar {
    display: inline-block;
}

.section-up-btn {        
    background-color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    height: 40px;
    margin-bottom: 5px;
    padding-left: 14px;
    padding-right: 14px;
}

.search-bar,
.search-bar-720 {
    align-items: center;
    border: 1px solid #777;
    border-radius: 25px;
    display: flex;
    justify-content: space-between;
    margin-left: 50px;
    width: 100%;
    max-width: 770px;
}

.search-input,
.search-input-720 {
    display: flex;
    border: none;
    margin-left: 25px;
}

.search-button,
.search-button-720 {
    border: none;
    background-color: rgb(77, 77, 77);
    border-radius: 25px;
    padding-bottom: 8px;
    padding-left: 22px;
    padding-right: 22px;
    padding-top: 8px;
}

.search-button-img,
.search-button-img-720 { 
    border: none;  
    height: 24px;
}

.section-up-btn {
    align-items: center;
    display: flex;
    font-size: 11px;
    font-weight: 100;
    flex-direction: column-reverse;
    white-space: nowrap;
}

.icons-contact,
.icons-user-profile,
.icons-user-list,
.icons-basket {
    height: 26px;
    width: 26px;
}

.section-bottom {  
    background-color: #f2f2f2; 
    display: flex;    
    height: 48px;
    justify-content: center;
}

.section-bottom-btn {
    align-items: center;
    border: none;
    cursor: pointer;
    display: flex;    
    justify-content: center;
    padding: 5px 12px;
}

.section-bottom-icons {
    height: 22px;
    padding-left: 7px;
    padding-right: 7px;
}

.text-section-bottom {
    text-align: left;
}

.navbar {
    display: flex;
    left:1%;
    padding: 14px;
    position: absolute;
    background-color: #c0c0c0;
    color: white;
    z-index: 10;
}

.hamburger-menu {
    cursor: pointer;
}

.hamburger-icon {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    transition: 0.4s;
}

.nav-links {
    list-style: none;
    display: none;
}

.nav-links.active {
    display: block;
}

.nav-links li {
    margin: 10px 0px;
}

.product-conf {
    display: flex;
    flex-direction: row;
    width: 90%;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.conf-left {
    width: 45%;
}

.conf-right {
    display: flex;
    flex-direction: column;
    width: 55%;
}

.conf-right-left {
    display: flex;
    flex-direction: row;
}

.conf-name,
.conf-name-1080 {
    display: flex;
    flex-direction: column; 
}

.conf-name-title,
.conf-name-title-1080 {
    font-size: 26px;
    color: rgb(26, 26, 26);
}

.conf-name-rating,
.conf-name-rating-1080 {
    align-items: center;
    display: flex;
    flex-direction: row; 
    margin: 8px 0px;
}

.conf-name-stars,
.conf-name-stars-1080 {
    height: 14px;
    padding-right: 5px;
    width: 70px;
    
}

.conf-name-opinion,
.conf-name-opinion-1080 {
    display: flex;
    flex-direction: row;
}

.conf-name-number,
.conf-name-number-1080 {
    margin-bottom: 8px;
}

.conf-info {
    display: flex;
    flex-direction: column;
    padding-right: 30px;
}

.conf-info-spec {
    font-size: 13px;
    padding: 6px 0px 6px 0px;
}

.conf-info-spec-up {
    border-top: 2px solid rgb(221, 221, 221);
}

.conf-info-spec-bottom {
    border-bottom: 2px solid rgb(221, 221, 221);
}

.conf-info-ram {
    font-size: 13px;
    padding: 8px 0px;
}

.ram-button {
    display: flex;
    justify-content: center;
}

.conf-info-ram-button {
    background-color: white;
    border: 2px solid rgb(221, 221, 221);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px;
    padding: 4px 0px;
    width: 98%;
}

.ram-price-delete,
.ram-price-add {
    font-size: 12px;
}

.conf-info-ram-button:hover {
    background-color: rgb(240, 240, 240);
}

.ram-price-delete,
.ram-price-add {
    font-size: 12px;
    display: none; /* Ukryj początkowo oba elementy z ceną RAM */
}

.conf-info-windows {
    padding: 8px 0px;
}

.conf-info-windows-button {
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px 0px;
    padding: 8px 0px 8px 10px;
    text-align: left;
    width: 98%;
}

.windows-price-add,
.windows-price-delate {
    font-size: 11px;
}

.conf-info-windows-button:hover {
    background-color: rgb(240, 240, 240);
}

.conf-info-insurance {
    border-top: 2px solid rgb(221, 221, 221);
    padding: 8px 0px;
    margin: 4px 0px;
}

.conf-info-insurance-button {
    background-color: white;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 8px;
    cursor: pointer;
    font-size: 14px;
    margin: 4px 0px;
    padding: 8px 0px 8px 10px;
    text-align: left;
    width: 98%;
}

.insurance-price-add,
.insurance-price-delete {
    font-size: 12px;
}

.conf-info-insurance-button:hover {
    background-color: rgb(240, 240, 240);
}

.conf-price {
    border-top: 2px solid rgb(221, 221, 221);
    display: flex;
    flex-direction: column;
    height: auto;
    width: 50%;
}

.conf-price-sum {
    font-size: 26px;
    padding: 16px 16px 16px 0px;
    text-align: right;
}

.conf-price-basket {
    align-items: center;
    display: flex;
    padding-bottom: 10px;
    justify-content: center;
    border-bottom: 2px solid rgb(221, 221, 221);
}

.conf-price-number {
    background-color: white;
    border: 1px solid rgb(26, 26, 26);
    border-radius: 16px;
    height: 38px;
    font-size: 14px;
    margin: 4px 0px 4px 10px;
    padding: 8px 0px;
    text-align: center;
    width: 46px;
}

.conf-price-add {
    align-items: center;
    background-color: rgb(17, 158, 0);
    border: none;
    border-radius: 24px;
    display: flex;
    font-size: 14px;
    height: 38px;
    justify-content: center;
    margin: 4px 0px 4px 10px;
    padding: 8px 0px;
    width: 180px;
}

.conf-price-add-picture {
    height: 20px;
    padding: 0px 5px;
}

.conf-price-add-text {
    color: white;
    font-size: 14px; 
}

.conf-options {
    align-items: center;
    border: none;
    background-color: white;
    border-bottom: 2px solid rgb(221, 221, 221);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0px;
    text-align: left;
    width: 100%;
}

.conf-options-img {
    padding: 0px 10px;
    height: 24px;
}

#image-gallery-1,
#image-gallery-2 {
    width: 100%;
    margin: 0rem auto;
  }

  #main-image-1,
  #main-image-2 {
    background-color: #fff;
    padding: 1rem;
    width: 100%;
  }

  #thumbnail-container-1,
  #thumbnail-container-2 {
    display: flex;
    justify-content: center;
    margin-top: 0rem;
  }

  .thumbnail {
    border: 1px solid rgb(221, 221, 221);
    border-radius: 10px;
    cursor: pointer;
    height: 15%;
    margin: 0 5px;
    padding: 5px;
    width: 15%;
  }

  .thumbnail:hover {
    opacity: 0.7;
  }

  .side-marker {
    background-color: rgb(242,242, 242);
    border-radius: 12px 12px 0px 0px;
    padding: 16px 26px;
    position: absolute;
    right: -50px;
    transform: rotate(270.1deg);
    top: 300px;
    z-index: 11;
  }

  .anchor-nav {
    align-items: center;
    border-bottom: 3px solid #f2f2f2;
    border-top: 2px solid #f2f2f2;
    display: flex;
    justify-content: center;
    height: 48px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 100%;
  }

  .anchor-nav-bar {
    align-items: center;
    display: flex;
    height: 48px;
    width: 90%;
    max-width: 1180px
    
  }
  .anchor-button{
    align-items: center;
    background-color: white;
    border: none;
    cursor: pointer;
    display: flex;
    font-size: 14px;
    height: 40px;
    justify-content: center;
    padding: 5px 10px;
    margin-right: 10px;
    width: auto;
  }

  .description-section {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    
  }

  .description-icon {
    width: 20%;
  }

  .description-icon-small {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    width: 99px;
  }

  .description {
    width: 100%;
  }

  .description-title {
    font-size: 36px;
    line-height: 1.4;
    padding-bottom: 10px;
    width: 100%;
  }

  .description-cd {
    font-size: 18px;
    line-height: 1.4;
    padding-bottom: 20px;
    width: 100%;
  }

  .description-photo {
    border-radius: 20px;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 100%;
  }

  .specification {
    border-top: 2px solid #f2f2f2;;
    display: flex;
    flex-direction: column;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 90%;
  }

  .specification-title {
    font-size: 26px;
    padding: 10px;
  }

  .specification-inf-gray {
    background-color: #f2f2f2;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-align: center;
    width: 100%;
  }

  .specification-inf-white {
    background-color: white;
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-left: auto;
    margin-right: auto;
    padding: 8px;
    text-align: center;
    width: 100%;
  }

  .specification-left,
  .specification-right {
    width: 50%;
  }

  .specification-right {
    text-align: left;
  }

  .accessories {
    border-top: 3px solid #f2f2f2;;
    display: flex;
    flex-direction: column;
    font-size: 26px;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 90%;
  }

  .accessories-container {
    display: flex;
    flex-direction: row;
    max-width: 1180px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 100%;
  }

  .accessories-items {
    cursor: pointer;
    font-size: 14px;
    width: 100%;
  }

  .accessories-items-img-small {
    align-content: center;
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 130px;
    width: 70%;
  }

  .accessories-items-title {
    margin: 20px 0px 20px 0px;
  }

@media (max-width: 1600px) {
    .search-bar {
        margin-left: 25px;
        margin-right: 25px;
        max-width: 480px;      
    }
}

@media (max-width: 1600px) {
    .search-input {
        min-width: auto;  
    }
}

@media (max-width: 1200px) {
    .section-bottom-icons {
        display: none;    
    }
}

@media (max-width: 1200px) {
    .text-section-bottom {
        padding-left: 12px;    
    }
}

@media (min-width: 1080px) {
    .conf-name-1080{
        display: none;
    }
}

@media (max-width: 1080px) {
    .section-bottom,
    .x-kom-logo-img,
    .search-button,
    .conf-name {
        display: none;    
}
    .search-bar {
        width: 100%; 
}
    .conf-name-title-1080 {
        font-size: 22px;
    }
    .conf-name-1080 {
        padding: 20px 0px 20px 20px;
    }
    .conf-right-left {
        display: flex;
        flex-direction: column-reverse;
    }
    .conf-price{
        width: 100%;
        margin-bottom: 20px;
    }
    .conf-left {
        width: 100%;
    }
    .product-conf {
        width: 100%;
    }
    .conf-info-spec {
        padding-top: 5px;
    }
    
}

@media (min-width: 901px) {
    .search-bar-720 {
        display: none;
    }
}

@media (max-width: 900px) {
    #main-image-1,
    #main-image-2{
        display: flex;
        height: 340px;
        width: auto;
        margin-left: auto;
        margin-right: auto; 
    }
    .search-input {
        display: none;
    }
    .search-bar {
        border: none;
        width: 100%;
        
    }
    .search-button-720 {
        display: none;
    }
    .search-bar-720 {
        height: 30px;
        width: 90%;
        min-width: none;
        margin-left: auto;
        margin-right: auto;
    }
    .search-input-720 {
        width: auto;
        margin-left: 10px;
    }
    .side-marker {
        display: none;
    }
    .conf-price-sum,
    .conf-info {
        margin-left: 10px;
    }

    .description-section {
        align-items: center;
        display: flex;
        flex-direction: column;
        max-width: 1180px;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
   
    
}

@media (min-width: 721px) {
    .gallery-720 {
        display: none;
    }
}

@media (max-width: 720px) {
    .conf-left,
    .conf-name-number-1080 {
        display: none;
    }
    .conf-right {
        width: 100%;
    }
    .conf-price-sum {
        text-align: left;
    }
    .conf-price-add {
        width: 100%;
    }
    .conf-name-title-1080 {
        font-size: 18px;
    }
    #main-image{
        display: flex;
        height: 240px;
        width: auto;
        margin-left: auto;
        margin-right: auto; 
    }
    .section-up-btn { 
        cursor: pointer;
        font-size: 10px;
        height: 40px;
        width: auto;
    }
    .section-up-btn {
        display: none;
    }
    .x-kom-logo-small-img {
        margin-left: 50px;
    }
    .specification-left {
        text-align: left;
    }
    
}

@media (min-width: 721px) {
    .navbar {
        display: none;
    }
}


@media (min-width: 1080px) {
    .x-kom-logo-small-img {
        display: none;    
    }
}








